<div class="landing__section-wrapper">
  <i id="landing__scroll-for-more-section"></i>

  <div class="landing__section-wrapper__container">

    <section class="landing__section">
      <article>
        <span class="landing__section__title landing__section__title_large">
          Install and Run a Campaign,
          RetargetApp Does the Rest
        </span>

        <p class="landing__section__description">
          <b>Re-engagement</b>
          of website visitors with automatically created ads of the previously viewed products
        </p>

        <p class="landing__section__description">
          <b>Ad creation</b>
          and
          <b>optimization</b>
          process using machine learning tech
        </p>

        <p class="landing__section__description">
          <b>Tracking campaign results</b>
          with a breakdown of important ad metrics available.
        </p>
        <!-- Button trigger modal -->
        <button type="button"
                class="landing__section__button_play
                       js-landing__section__button_watch-video"
                data-toggle="modal"
                data-target="#watchVideoModal"
                data-theVideo="https://www.youtube.com/embed/5OHgQlmiDg0">
          <i class="play-icon" id="play-icon">
            <svg viewBox="0 0 300 300">
              <use xlink:href="#play-icon"></use>
            </svg>
          </i>
          <span class="landing__section__link">
            Watch Video
          </span>
        </button>
      </article>
    </section>

    <section class="landing__section">
      <article>
        <i class="landing__section__title-image" id="shopify-icon">
          <svg viewBox="0 0 110.1 110.1">
            <use xlink:href="#shopify-icon"></use>
          </svg>
        </i>

        <span class="landing__section__title">
          Customers Love Us:<br />
          We Are TOP 10 Shopify<br />
          App in Marketing Category
        </span>

        <p class="landing__section__description landing__section__description_longer">
          Over 10,000 brands across 100+ countries trust RetargetApp.
          We have great technology and great people. Give us a shot.
        </p>

        <p class="landing__section__description landing__section__description_longer">
          Read our
          <a href="https://apps.shopify.com/retargetapp-facebook-retargeting?utm_source=Landing%20page&utm_medium=Read%20our%20customers%20reviews&utm_campaign=RetargetApp%20landing%20page"
             class="landing__section__link_underline"
             title="customers reviews"
            target="_blank">
            customers' reviews
          </a>
          on Shopify app listing page.
        </p>
      </article>
    </section>

    <section class="landing__section">
      <article>
        <i class="landing__section__title-image" id="pricing-icon">
          <svg viewBox="0 0 167.4 78.8">
            <use xlink:href="#pricing-icon"></use>
          </svg>
        </i>

        <span class="landing__section__title">
          Pricing
        </span>

        <p class="landing__section__description landing__section__description_longer">
          We charge additional 10% of the advertising spent
          and won’t withdraw any additional commissions from sales.
        </p>
      </article>
    </section>

    <section class="landing__section landing__section_lower">
      <article>
        <i class="landing__section__title-image" id="roas-icon">
          <svg viewBox="0 0 89.3 58.1">
            <use xlink:href="#roas-icon"></use>
          </svg>
        </i>

        <span class="landing__section__title">
          10× ROAS on Autopilot
        </span>

        <p class="landing__section__description landing__section__description_small">
          On average, our customers generate extra $10 for every dollar spent.
        </p>

        <span class="landing__section__title">
          Quick Start
        </span>

        <p class="landing__section__description landing__section__description_long">
          Unlike any other retargeting company, we have automated the setup process,
          so you can run your first campaign in just a few clicks.
        </p>

        <span class="landing__section__title">
          Personalised Ads<br />
          on Facebook
        </span>

        <p class="landing__section__description landing__section__description_medium">
          RetargetApp shows each user the product
          he/she has previously viewed on your
          website to make the ads as relevant
          as they can be.
        </p>

        <span class="landing__section__title">
          Cross Device Reach
        </span>

        <p class="landing__section__description landing__section__description_medium">
          Your customers check Facebook every day,<br />
          multiple times on multiple devices. Reach them
          across desktop and mobile with customized dynamic ads.
        </p>

        <span class="landing__section__title">
          Here to Help
        </span>

        <p class="landing__section__description landing__section__description_small">
          Need help? Our team is ready to help with
          your questions or queries. <br />
          Click
          <a href="#"
             class="landing__section__link_underline js-landing__link_intercom"
             title="Click here to start chatting with us">
            here<!--
          --></a>
          to start chatting with us.
        </p>
      </article>
    </section>

    <section class="landing__section landing__section_low">
      <article>
        <i class="landing__section__title-image" id="pause-in-circle-icon">
          <svg viewBox="0 0 80 80">
            <use xlink:href="#pause-in-circle-icon"></use>
          </svg>
        </i>

        <span class="landing__section__title">
          Available<br />
          Exclusively on Shopify
        </span>

        <p class="landing__section__description landing__section__description_longest">
          Easily connect your Shopify store with RetargetApp<br />
          In just two clicks, the app builds the ads<br />
          and runs the campaign for you.<br />
          It’s as easy as 1, 2, 3.
        </p>

        <form name="emailColector"
              method="post"
              action="/collect-email">
          <span class="landing__section__title">
            Not on Shopify?
          </span>

          <p class="landing__section__description  landing__section__description_small">
            Let us know - we will integrate <br />
            into other e-commerce platforms soon ;)
          </p>

          <ul class="landing__section__checkbox-list">
            <li class="landing__section__checkbox-list__item">
              <input id="magento" value="Magento"
                     type="radio" name="platformList">
              <label for="magento">Magento</label>
            </li>

            <li class="landing__section__checkbox-list__item">
              <input id="wixcom" value="WIX.com"
                     type="radio" name="platformList">
              <label for="wixcom">WIX.com</label>
            </li>

            <li class="landing__section__checkbox-list__item">
              <input id="bigcommerce" value="Bigcommerce"
                     type="radio" name="platformList">
              <label for="bigcommerce">Bigcommerce</label>
            </li>

            <li class="landing__section__checkbox-list__item">
              <input id="volusion" value="Volusion"
                     type="radio" name="platformList">
              <label for="volusion">Volusion</label>
            </li>

            <li class="landing__section__checkbox-list__item">
              <input id="threedcart" value="3dcart"
                     type="radio" name="platformList">
              <label for="threedcart">3dcart</label>
            </li>

            <li class="landing__section__checkbox-list__item">
              <input id="tictail" value="Tictail"
                     type="radio" name="platformList">
              <label for="tictail">Tictail</label>
            </li>

            <li class="landing__section__checkbox-list__item
                       landing__section__checkbox-list__item_custom">
              <input id="custom" value="custom"
                     type="radio" name="platformList">
              <label for="custom">
                <span class="landing__section__checkbox-list__item_custom__error-message">
                  Choose a platform or add your option
                </span>
                <input class="landing__section__checkbox-list__item_custom__input"
                       id="custom_platform"
                       type="text"
                       placeholder="Not on the list? Write your platform here.">
              </label>
            </li>
          </ul>

          <div class="landing__section__email-collector">
            <label class="landing__section__email-collector__label"
                   for="emailInput">
              <span class="landing__section__email-collector__label__title">
                Provide email for notification
              </span>
              <span class="landing__section__email-collector__label__success-message">
                We’ll send you a letter on app launch for your platform
              </span>
              <span class="landing__section__email-collector__label__success-message_not-in-list">
                We’ll send you a letter on app launch for platform that’s not in a list.
              </span>
              <span class="landing__section__email-collector__label__error-message">
                Email address incorrect
              </span>
            </label>
            <input class="landing__section__email-collector__input"
                   id="emailInput"
                   type="text"
                   placeholder="Provide e-mail">

            <input class="landing__section__email-collector__button"
                   id="sendEmail"
                   type="submit"
                   Value="Notify Me" />
          </div>
        </form>
      </article>
    </section>

    <section class="landing__section">
      <article>
        <i class="landing__section__title-image" id="fire-icon">
          <svg viewBox="0 0 61.2 94.7">
            <use xlink:href="#fire-icon"></use>
          </svg>
        </i>

        <span class="landing__section__title">
          Stop Wasting Money<br />
          on Advertising Products<br />
          Your Customers Won't Buy!
        </span>

        <p class="landing__section__description  landing__section__description_longest">
          Get the right ads to the right customers at the right<br />
          time for the right price with the latest machine learning<br />
          technology. Right on!
        </p>

        <a class="landing__section__button
                  js-landing__section__button_run-campaign"
           href="http://apps.shopify.com/retargetapp-facebook-retargeting?utm_source=Landing%20page&utm_medium=Stop%20Wasting%20Money%20-%20Run%20My%20First%20Campaign&utm_campaign=RetargetApp%20landing%20page"
           title="Run My First Campaign with RetargetApp">
          Run My First Campaign
        </a>
      </article>
    </section>

  </div>
</div>
