<section class="{{ placement == 'footer' ? ' partner-badge_container-small' : 'partner-badge_container' }}">
    <a href="https://facebookmarketingpartners.com/marketing-partners/retargetapp/" target="_blank" class="partner-badge_link partner-badge_click-action" data-placement="{{ placement }}" title="Facebook marketing partner">
        <div class="{{ placement == 'footer' ? ' partner-badge_image-small' : 'partner-badge_image' }}"></div>
    </a>
</section>