<section class="landing__footer_wrapper">
  <footer class="landing__footer">
    <ul class="landing__footer__list">
      <div class="landing__footer__list__item-group">
        <li class="landing__footer__list__item">
          <a href="https://twitter.com/Retargetapp"
             class="twitter-follow-button"
             data-show-count="false"
             data-show-screen-name="false">
            Follow @Retargetapp
          </a>
          <script>
            !function(d,s,id){
              var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
              if(!d.getElementById(id)){js=d.createElement(s);
                js.id=id;
                js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
              }}(document, 'script', 'twitter-wjs');
          </script>
        </li>

        <li class="landing__footer__list__item">
          <div class="fb-like"
               data-href="https://www.facebook.com/retargetapp/"
               data-layout="button"
               data-action="like"
               data-show-faces="false"
               data-share="false"></div>
        </li>
      </div>

      <div class="landing__footer__list__item-group">
        <li class="landing__footer__list__item">
          <a href="http://blog.retargetapp.com?utm_source=Landing%20page&utm_medium=Footer%20-%20Blog&utm_campaign=RetargetApp%20landing%20page"
             title="See what's new in our blog"
             target="_blank">
            Blog
          </a>
        </li>

      <li class="landing__footer__list__item">
        <a href="http://intercom.help/retargetapp?utm_source=Landing%20page&utm_medium=Footer%20-%20Help%20Center&utm_campaign=RetargetApp%20landing%20page"
           title="Got a question? Check our Help Center!"
           target="_blank">
          Help Center
        </a>
      </li>

        <li class="landing__footer__list__item">
          <a href="http://docs.retargetapp.com/terms?utm_source=Landing%20page&utm_medium=Footer%20-%20Terms%20%26%20Conditions&utm_campaign=RetargetApp%20landing%20page"
             title="Read our Terms of Service"
             target="_blank">
            Terms & Conditions
          </a>
        </li>

        <li class="landing__footer__list__item">
          <a href="#"
             class="landing__section__link_underline js-landing__link_intercom"
             title="Click here to start chatting with us">
            Contact Us
          </a>
        </li>
      </div>
    </ul>
  </footer>
</section>